.title {
	text-align: center;
	font-weight: 800;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	margin-top: 140px;
}

.info {
	margin-top: 20px;
	text-align: center;
}

.link {
	color: #1f70da;
	font-weight: 700;
	&:hover {
		color: #065fd2;
	}
}
